.wrapper {
    width: 100%;
    height: 500px;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loveSprayer {
    position: relative;
    background: orange;
    width: 100px;
    height: 100px;
    margin-top: 400px;
    border-radius: 50px;
  }
  
  .spn{
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 2s ease-out;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    /* opacity: 0.5; */
  }
  
  .spn svg {
    opacity: 0;
  }
  
  .love-svg {
    z-index: 1;
    animation: sweet 2s;
    /* fill: red; */
  }
  
  @keyframes sweet {
    0%   { opacity: 1; }
    50%   { opacity: 0.5; }
    100% { opacity: 0; }
  }