

@media (max-width: 480px)
 {
  body {
    margin: 0;
    height: 100vh;
    position: relative;
    font-family: "Helvetica Neue";
  }

  .wrapper {
    margin: 15px;
  }

  header h1 {
    font-size: 24px;
    text-align: center;
  }

  .sectionImg {
    display: flex;
    justify-content: center;
  }

  .sectionImg-footer {
    z-index: 3;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    /* display: flex; */
    /* align-items: center; */
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0) 20.11%, #000000 100%);
  }

  .sectionImg-footer #profession{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 13px;
  }

  .loveSprayer {
    position: absolute;
    bottom: 15px;
    right: 20px;
    background: white;
    width: 30px;
    height: 30px;
    margin-top: 400px;
    border-radius: 50px;
  }

  .loveSprayer #luf {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }

  .imgWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 260px;
    background: #C4C4C4;
    border-radius: 10px;
  }

  .loveImg img {
    width: 100%;
  }

  .loveImg {
    z-index: 0;
    width: 100%;
    position: absolute;
  }

  .loveImg.active {
    z-index: 1;
    animation: sweetFan 0.2s ease-out;
  }

  .activeText {
    animation: sweetFan 0.2s ease-out;
  }

  .sectionText {
    margin-top: 15px;
    display: flex;
    width: 100%;
  }

  .sectionText .icon {
    margin-right: 15px;
  }

  .sectionText p, .sectionText h4 {
    margin: 0;
    padding: 0;
  }

  .sectionText h4 {
    margin-bottom: 5px;
  }

  .sectionText p {
    color: #737373;
    font-style: normal;
    line-height: 20px;
    font-size: 13px;
  }

  .textR1 {
    height: 100px;
  }

  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  .navig {
    display: flex;
    justify-content: space-between;
  }

  .navig-floor{
    width: 100%;
    height: 20px;
    background: #FF7676;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  .btn {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF7676;
    border-radius: 0px 50px 50px 0px;
  }

  .btn:last-child {
    border-radius: 50px 0px 0px 50px;
  }

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.11);
    background: #ffffff;
  }

  .circle svg {
    transform: scale(1.5);
  }

  .circle:active {
    box-shadow: none;
  }

  @keyframes sweetFan {
    0%   { opacity: 0; 
            transform: translateY(20px);
    }
    100% { opacity: 1; 
          transform: translateY(0px);
          }
  }
}
  
  .spn {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 2s ease-out;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
  }
  
  .spn svg {
    opacity: 0;
  }
  
  .love-svg {
    z-index: 1;
    animation: sweet 2s;
  }
  
  @keyframes sweet {
    0%   { opacity: 1; }
    50%   { opacity: 0.5; }
    100% { opacity: 0; }
  }