

@media (max-width: 480px)
 {
  body {
    margin: 15px;
    font-family: "Helvetica Neue";
  }

  header h1 {
    font-size: 24px;
    text-align: center;
  }

  .sectionImg {
    display: flex;
    justify-content: center;
  }

  .sectionImg-footer {
    z-index: 3;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    /* display: flex; */
    /* align-items: center; */
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0) 20.11%, #000000 100%);
  }

  .sectionImg-footer .name {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 10px;
  }

  .loveSprayer {
    position: absolute;
    bottom: 15px;
    right: 20px;
    background: white;
    width: 30px;
    height: 30px;
    margin-top: 400px;
    border-radius: 50px;
  }

  .loveSprayer #luf {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }

  .imgWrapper {
    width: 290px;
    overflow: hidden;
    position: relative;
    height: 260px;
    background: #C4C4C4;
    border-radius: 10px;
  }

  .loveImg {
    z-index: 0;
    position: absolute;
  }

  .loveImg.active {
    z-index: 1;
    animation: sweetFan 0.5s ease-out;
  }

  @keyframes sweetFan {
    0%   { opacity: 0; 
            transform: translateY(20px);
    }
    100% { opacity: 1; 
          transform: translateY(0px);
          }
  }
}
  
  .spn {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 2s ease-out;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    /* opacity: 0.5; */
  }
  
  .spn svg {
    opacity: 0;
  }
  
  .love-svg {
    z-index: 1;
    animation: sweet 2s;
    /* fill: red; */
  }
  
  @keyframes sweet {
    0%   { opacity: 1; }
    50%   { opacity: 0.5; }
    100% { opacity: 0; }
  }